<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>stx-blog-demo</display-name>
	<!-- 欢迎页面列表 -->
	<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 博客首页显示Servlet -->
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.stx.demo.servlet.BlogHomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<!-- 添加博文Servlet -->
	<servlet>
		<servlet-name>BloggerAddServlet</servlet-name>
		<servlet-class>com.stx.demo.servlet.BloggerAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloggerAddServlet</servlet-name>
		<url-pattern>/bloggerAdd</url-pattern>
	</servlet-mapping>

	<!-- 错误页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/common/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/500.html</location>
	</error-page>

</web-app>